
body {
    width: 100%;
    margin: 0px;
}

#header {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center; /* Center the container */
    background-color:  rgb(205, 206, 206);
    z-index: 999;
    position: sticky;
    top:0;
    left: 0;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.logo {
    height: 50px;
    font-size: 28px;
    align-items: center; 
}

.navbar {
    display: flex;
    list-style: none;
    gap: 15px;
    margin-left: auto;
    transition: right 0.3s ease;
}
#mobail{
    display: none;
    align-items: center;
}

.navtag {
    text-decoration: none;
    color: white;
}

.navtag:hover {
    color: gray;
}
.active{
    color: #088178;
    text-decoration: underline;
}
h1{
 color: #088178;
 margin: 20px;
}
.about{
    display: flex;
}
.about img{
    margin: 10px;
    width: 250px;
    height: 300px;
    border-radius: 9px;
}
.about h3{
    margin: 20px;
}
.shop{
    margin: 10px;
    display: flex;
    gap: 10px;
}
.shop img {
    border-radius: 9px;
    width: 200px; 
    height: 300px; 
    object-fit: cover; 
}
